body {
  background: #cfaabd;
}

.container {
  background-image: url(images/background-image.jpg);
  background-size: cover;
  max-width: 700px;
  max-height: 600px;
  padding-top: 20px;
  margin: 50px auto;
  border-radius: 10px;
  border: solid #90abce;
  border-width: 1px;
  margin-bottom: 10px;
}

.search-form,
.search-button {
  border-radius: 15px;
  border-width: 1px;
}
.search-button {
  background: rgba(8, 8, 8, 0.1);
  border: rgb(0, 0, 0);
  color: white;
}
.search-button:hover {
  background: rgb(194, 106, 154);
  cursor: pointer;
}
h1,
ul,
.temp-now,
.current-location,
.temp-illustration,
.weekly-temp {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.current-date,
.current-city {
  color: yellow;
  font-style: italic;
}
h1,
.temp-now {
  font-size: 50px;
}

.current-date {
  font-size: 16px;
  line-height: 1px;
}
.current-location {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-right: 10px;
}
.current-city {
  font-size: 16px;
  line-height: 1px;
}
.temp-illustration {
  width: 150px;
  line-height: 100px;
  padding-left: 215px;
  margin-bottom: 10px;
}

.temp-now,
.temp-units {
  line-height: 150px;
}
#weather-description {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(248, 239, 112);
  font-style: italic;
}
.temp-now {
  padding: 80px 2px 20px 120px;
  margin-bottom: 10px;
}
.temp-units {
  font-size: 13px;
  padding-right: 5px;
  position: relative;
  top: -20px;
  color: rgb(10, 10, 10);
}
#fahrenheit-link,
#celsius-link,
.temp-units .active,
.temp-units .active:hover,
.github-link {
  text-decoration: none;
  cursor: default;
}
.temp-units .active {
  color: black;
}
.temp-units .active:hover {
  color: yellow;
}
ul {
  margin-top: 5px;
}
li {
  list-style-type: none;
  color: rgb(248, 239, 112);
  font-size: 13px;
  font-weight: bolder;
}
.weekly-temp {
  padding: 20px;
  text-align: center;
}
#forecast {
  background: rgba(8, 8, 8, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
}
.weather-forcast-day {
  opacity: 0.7;
  font-size: 15px;
}
.weather-forcast-temperatures {
  font-size: 13px;
}
.weather-forcast-temperature-min {
  opacity: 0.5;
}
.credits {
  padding: 0px 350px;
  position: relative;
  line-height: 2px;
  font-family: monospace;
  font-size: small;
}
